body {
  margin: 0;
  background-color: hsl(148, 38%, 91%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 30%;
  min-height: 70vh;
  border-radius: 15px;
  padding: 15px 40px 40px 40px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(187, 24%, 22%);
}

input {
  padding: 11px;
  border-radius: 6px;
  border: 1px solid hsl(186, 15%, 59%);
}

.label {
  margin: 15px 0px 10px;
}

.radio-label {
  margin: 15px 0 5px;
}

.name-inputs {
  display: flex;
}

.firstName {
  display: flex;
  flex-direction: column;
}

.lastName {
  display: flex;
  flex-direction: column;
}

.email {
  display: flex;
  flex-direction: column;
}

.radio-selection {
  display: flex;
  flex-direction: column;
}

.radios {
  display: flex;
  margin-top: 10px;
}

input[type='radio'] {
  margin: 0;
}

.general-enquiry-radio, .support-request-radio {
  border: 1px solid hsl(186, 15%, 59%);
  padding: 10px;
  border-radius: 6px;
}

.textarea {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}

button {
  font-family: inherit;
  font-size: 16px;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: hsl(169, 82%, 27%);
  color: hsl(0, 0%, 100%);
}

span {
  color: hsl(169, 82%, 27%);
  margin-left: 8px;
}
