body {
  margin: 0;
  background-color: hsl(148, 38%, 91%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  margin: 20px 0 0;
}

h3 {
  display: flex;
  margin: 20px 0px 0px 0px;
}

h4 {
  margin: 10px 0px 10px 0px;
  font-weight: 400;
}

.success-checkmark {
  text-align: left;
  margin: 0px 10px 0px 0px;
}

.success-container {
  display: none;
  position: absolute;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -99px;
  padding: 5px 25px 13px 25px;
  background-color: hsl(187, 24%, 22%);
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

.success-container.active {
  display: block;
}

.contact-form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 30%;
  min-height: 69vh;
  border-radius: 15px;
  padding: 20px 35px 0px 35px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(187, 24%, 22%);
}

p {
  margin: 10px 0px 0px 0px;
  color: hsl(0, 66%, 54%);
}

.name-inputs,
.email,
.radio-selection,
.textarea {
  margin: 10px 0px 0px 0px;
}

input {
  padding: 11px;
  border-radius: 6px;
  border: 1px solid hsl(186, 15%, 59%);
}

input:hover {
  border: 1px solid hsl(169, 82%, 27%);
}

.label {
  margin: 15px 0px 10px;
}

.radio-label {
  margin: 15px 0px 5px;
}

.name-inputs {
  display: flex;
}

#firstname-input,
#lastname-input {
  cursor: pointer;
}

#firstname-input:focus,
#lastname-input:focus,
#email-input:focus,
#message-textarea:focus {
  border: 1px solid hsl(169, 82%, 27%);
}

.firstName {
  display: flex;
  flex-direction: column;
}

.firstname-error {
  display: none;
}

.firstname-error.active {
  display: block;
}

#firstname-input {
  padding-right: 127px;
}

.lastName {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.lastname-error {
  display: none;
}

.lastname-error.active {
  display: block;
}

#lastname-input {
  padding-right: 131px;
}

.email {
  display: flex;
  flex-direction: column;
}

#email-input {
  cursor: pointer;
}

.email-error {
  display: none;
}

.email-error.active {
  display: block;
}

.contact-form-container input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
}

.contact-form-container input[type="radio"]:checked {
  background-image: url("/assets/images/icon-radio-selected.svg");
  background-size: cover;
  background-position: center;
  border: none;
}

.radio-selection {
  display: flex;
  flex-direction: column;
}

.radio-container {
  display: flex;
  align-items: center;
}

.radio-container.selected {
  background-color: hsla(169, 82%, 27%, 0.1);
}

.radios {
  display: flex;
  margin-top: 10px;
}

.radio-error {
  display: none;
}

.radio-error.active {
  display: block;
}

input[type="radio"] {
  margin: 0px 10px 0px 0px;
}

.general-enquiry-radio,
.support-request-radio {
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 6px;
  cursor: pointer;
}

.general-enquiry-radio > label,
.support-request-radio > label,
#general-enquiry-selection,
#support-request-selection {
  cursor: pointer;
}

.general-enquiry-radio {
  padding: 10px 142px 10px 20px;
}

.support-request-radio {
  padding: 10px 145px 10px 20px;
  margin-left: 15px;
}

.textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.textarea-error {
  display: none;
}

.textarea-error.active {
  display: block;
}

textarea {
  resize: none;
  overflow: hidden;
  padding: 13px 15px 45px 15px;
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 6px;
  font: inherit;
  color: inherit;
}

textarea:hover {
  border: 1px solid hsl(169, 82%, 27%);
}

.consent-error {
  display: none;
}

.consent-error.active {
  display: block;
}

input#checkbox,
.checkbox-container > label {
  cursor: pointer;
  user-select: none;
}

input#checkbox {
  margin: 0px 15px 0px 3px;
}

.contact-form-container input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  width: 16px;
  height: 16px;
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 3px;
  background-color: #fff;
  vertical-align: middle;
}

input[type="checkbox"]:checked {
  background-image: url("/assets/images/icon-checkbox-check.svg");
  background-size: cover;
  background-position: center;
}

button {
  font-family: inherit;
  font-size: 16px;
  margin: 35px 0px 0px 0px;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: hsl(169, 82%, 27%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

span {
  color: hsl(169, 82%, 27%);
  margin-left: 8px;
}

input:focus,
textarea:focus {
  outline: none;
}

@media (max-width: 375px) {
  .contact-form-container, .name-inputs, .radios {
    flex-direction: column;
  }

  .contact-form-container {
    padding: 0;
    min-height: 94vh;
  }

  #firstname-input, #lastname-input {
    width: 40%;
  }

  .lastName {
    margin: 0;
  }

  .support-request-radio {
    margin: 0;
  }
}
