body {
  margin: 0;
  background-color: hsl(148, 38%, 91%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 30%;
  min-height: 70vh;
  border-radius: 15px;
  padding: 15px 40px 40px 40px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(187, 24%, 22%);
}

.name-inputs {
  display: flex;
}

.firstName {
  display: flex;
  flex-direction: column;
}

.lastName {
  display: flex;
  flex-direction: column;
}

.email {
  display: flex;
  flex-direction: column;
}

.radio-selection {
  display: flex;
  flex-direction: column;
}

.textarea {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}

button {
  font-family: inherit;
  font-size: 16px;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: hsl(169, 82%, 27%);
  color: hsl(0, 0%, 100%);
}

span {
  color: hsl(169, 82%, 27%);
  /* margin-left: 5px; */
}
